* {
    transition: all 0.25s;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif; 
  }
  
body {
    background-image: url(https://images7.alphacoders.com/411/411820.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }

/* -------------------------------------------------------------------- */

header a, footer a {
    color: #ffffff;  
    text-decoration: none;  
}

header ul, footer ul {
    list-style: none;  
}

/* Navigation */
.nav-main {
    font-size: 17px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    padding: 20px;
    background-color: black;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='42' height='58' viewBox='0 0 42 58'%3E%3Cg fill='%232c778e' fill-opacity='0.1'%3E%3Cpath fill-rule='evenodd' d='M12 18h12v18h6v4H18V22h-6v-4zm-6-2v-4H0V0h36v6h6v36h-6v4h6v12H6v-6H0V16h6zM34 2H2v8h24v24h8V2zM6 8a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm8 0a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm8 0a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm8 0a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm0 8a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm0 8a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm0 8a2 2 0 1 0 0-4 2 2 0 0 0 0 4zM2 50h32v-8H10V18H2v32zm28-6a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-8 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-8 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-8 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm0-8a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm0-8a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm0-8a2 2 0 1 0 0 4 2 2 0 0 0 0-4z'/%3E%3C/g%3E%3C/svg%3E");
}


/* NAV LEFT */
.nav-main img {
    width: 50px;
    height: 50px;
    border-radius: 6px;
    margin: 20px;
    margin-left: 50px;
}
.nav-main ul {
    display: flex;
}

.nav-main ul li {
    padding: 10px; 
}

.nav-main ul li a {
    padding: 6px;
}

.nav-main ul li a:hover {
    border-bottom: 2px solid #ffffff; 
}

.nav-main ul.nav-menu {
    flex: 1;
    margin-left: 20px; 
}

.menu-btn {
    position: absolute;
    cursor: pointer;
    top: 15px;
    right: 20px;
    z-index: 2;
}
hr {
  margin: 10px 0;
}
  /* -------------------------------------------------------------------- */

  #tablero-de-juego{
    width: 100%;
    height: 100vh;
    display: grid;
    justify-content: center;
  }
  #encabezado {
    width: 60vw;
    min-height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: rgba(177, 177, 177, 0.815);
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    font-weight: bold;

  }
  #sec{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 10px;
    font-size: x-large;
  }
  img {
    height: 150px;
    margin-top: 30px;
    border-radius: 10px;
    margin-right: 40px;
  }
  
  .opcion {
    text-align: center;
    width: 60vw;
    background: rgba(223, 223, 223, 0.678);
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    font-weight: 500;
    cursor: pointer;
  }
  
  .opcion:hover{
    background: white;
    transform: scale(1.05) ;
  }


   /* -------------------------------------------------------------------- */
/* FOOTER LINKS */
.footer-links {
  background: #2f3640; 
  color: #616161;
  font-size: 12px;
  padding: 35px 0;
}
.footer-container {
  display: flex; 
  width: 100%;
  gap: 5px;
  align-items: flex-start;
  justify-content: left;
}

.footer-container ul {
  margin: 10px;
}

.footer-container ul li {
  line-height: 2.4;
}

.footer {
  background: #2f3640;
  color: #616161;
  padding: 20px 0;
  text-align: center;
  padding-bottom: 20px;
}
.footer h3 {
  font-size: 12px;
}
.footer-links h3{
  font-size: 14px;
  font-weight: bold;
}
   
  @media (max-width: 700px) {
    *{
      font-size: 15px;
    }
    #encabezado {
      width: 80vw;
      text-align: center;
    }
    .opcion {
      width: 80vw;
    }
    img{
      display: none;
    }

    .nav-main ul.nav-menu {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      background: #2f3640;
      height: 100%;
      padding: 30px;
      opacity: .9;
      transform: translateX(-400px);
      transition: transform .5s ease-in-out;
  }

  .nav-main ul.nav-menu.show {
      transform: translateX(-20px); 
  }

  .nav-main ul.nav-menu li {
      padding: 20px;
      font-size: 14px;
  }

  .nav-main ul.nav-manu-right {
      margin-right: 40px;
  }
  }